<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        background-color: rgb(224, 224, 243);
      }
      .menu {
        background-color: rgb(105, 87, 207);
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="menu">
      <img
        width="100"
        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ed991cf4-7c8c-4530-b6ba-a3abf3ab2eae/dc6lf5s-694e0dff-038b-459b-9029-a427d2a1f494.png/v1/fill/w_600,h_557/super_mario__boo_2d_by_joshuat1306_dc6lf5s-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTU3IiwicGF0aCI6IlwvZlwvZWQ5OTFjZjQtN2M4Yy00NTMwLWI2YmEtYTNhYmYzYWIyZWFlXC9kYzZsZjVzLTY5NGUwZGZmLTAzOGItNDU5Yi05MDI5LWE0MjdkMmExZjQ5NC5wbmciLCJ3aWR0aCI6Ijw9NjAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.JxMIXBB-mB1PqHVx2Iud3CpWMJhc5lRhnj28hRLTcMM"
        alt="Logo Site"
      />
      <ul>
        <a href="/">HOME</a>
        <a href="/sobre">SOBRE NÓS</a>
      </ul>
    </nav>
  </body>
</html>
